# Byte-compiled / optimized / DLLs
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv
env/
venv/

# IDEs and editors
.vscode/
.idea/

# MacOS files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets and config
.streamlit/

# Distribution / build
build/
dist/
*.egg-info/

# Logs
*.log
